In [1]:
import sys
import pickle
sys.path.append("../tools/")

from feature_format import featureFormat, targetFeatureSplit
from tester import dump_classifier_and_data

In [2]:
### Task 1: Select what features you'll use.
import pandas as pd
import numpy as np

#fpm = "final_project_dataset_modified.pkl" 
fp = "final_project_dataset.pkl"

#fpm_df = pickle.load( open(fpm, "r"))
fp_df = pickle.load( open(fp, "r") )

### features_list is a list of strings, each of which is a feature name.
### The first feature must be "poi".
#fpm_df = pd.DataFrame(fpm_df)
fp_df = pd.DataFrame(fp_df)

#print fp_df.head(5)

### Transpose

Because the rows and columns of dataset are features and samples respectivey, I transposed it to be rows for samples and columns for features. The reason for the transpose is that pandas dataframe provide easy way to extract columns in a dataset using using column's name like *__dataset[variable_name]__* rather than row indice.

In [3]:
fp_df = fp_df.T

#features_list = ['poi','salary'] # You will need to use more features

### Convert NaN to 0

Firstly, convert string type **NaN** value to **np.nan**, so that fillna() function of pandas can work.
Before converting, I inspected how many **NaN** values are in each features. I devided those with total length of data to see the proportion inherent in it.

In [4]:
fp_df.head(5)['bonus']

ALLEN PHILLIP K       4175000
BADUM JAMES P             NaN
BANNANTINE JAMES M        NaN
BAXTER JOHN C         1200000
BAY FRANKLIN R         400000
Name: bonus, dtype: object

Features having **NaN** more than 0.5 might no be useful? I can know about which value can be a threshold with the rate of person of interest.

#### NaN in poi

In [32]:
r_poi = np.sum(fp_df['poi'])/float(len(fp_df))
print 'POI rate: ', np.round(r_poi, 2)

from tqdm import tqdm

def nan_count(data):
    c = 0
    
    for i in data:
        if i == 'NaN':
            c += 1
            
    return c

poi_nan_count = fp_df[fp_df['poi'] == True].apply(nan_count)

nan_df = pd.DataFrame(poi_nan_count/len(fp_df[fp_df['poi'] == True]), 
                        columns=['poi'])
#nan_rate.append(poi_nan_count/len(fp_df[fp_df['poi'] == True]))
nan_df

POI rate:  0.12

                                poi
bonus                      0.111111
deferral_payments          0.722222
deferred_income            0.388889
director_fees              1.000000
email_address              0.000000
exercised_stock_options    0.333333
expenses                   0.000000
from_messages              0.222222
from_poi_to_this_person    0.222222
from_this_person_to_poi    0.222222
loan_advances              0.944444
long_term_incentive        0.333333
other                      0.000000
poi                        0.000000
restricted_stock           0.055556
restricted_stock_deferred  1.000000
salary                     0.055556
shared_receipt_with_poi    0.222222
to_messages                0.222222
total_payments             0.000000
total_stock_value          0.000000

#### NaN in non-poi

In [46]:
r_poi = (len(fp_df) - np.sum(fp_df['poi']))/float(len(fp_df))
print 'POI rate: ', r_poi

from tqdm import tqdm

def nan_count(data):
    c = 0
    
    for i in data:
        if i == 'NaN':
            c += 1
            
    return c

non_poi_nan_count = fp_df[fp_df['poi'] != True].apply(nan_count)
nan_df.assign(non_poi = 
              pd.DataFrame(non_poi_nan_count/len(fp_df[fp_df['poi'] != True]), columns=['non-poi']))

nan_df

POI rate:  0.876712328767

                                poi   non-poi
bonus                      0.111111  0.484375
deferral_payments          0.722222  0.734375
deferred_income            0.388889  0.703125
director_fees              1.000000  0.867188
email_address              0.000000  0.273438
exercised_stock_options    0.333333  0.296875
expenses                   0.000000  0.398438
from_messages              0.222222  0.437500
from_poi_to_this_person    0.222222  0.437500
from_this_person_to_poi    0.222222  0.437500
loan_advances              0.944444  0.976562
long_term_incentive        0.333333  0.578125
other                      0.000000  0.414062
poi                        0.000000  0.000000
restricted_stock           0.055556  0.273438
restricted_stock_deferred  1.000000  0.859375
salary                     0.055556  0.390625
shared_receipt_with_poi    0.222222  0.437500
to_messages                0.222222  0.437500
total_payments             0.000000  0.164062
total_stock_value          0.000000  0.156250

In [37]:
nan_df = pd.concat([poi_nan_df, non_poi_nan_df], axis=1)
nan_df

                                poi   non-poi
bonus                      0.111111  0.484375
deferral_payments          0.722222  0.734375
deferred_income            0.388889  0.703125
director_fees              1.000000  0.867188
email_address              0.000000  0.273438
exercised_stock_options    0.333333  0.296875
expenses                   0.000000  0.398438
from_messages              0.222222  0.437500
from_poi_to_this_person    0.222222  0.437500
from_this_person_to_poi    0.222222  0.437500
loan_advances              0.944444  0.976562
long_term_incentive        0.333333  0.578125
other                      0.000000  0.414062
poi                        0.000000  0.000000
restricted_stock           0.055556  0.273438
restricted_stock_deferred  1.000000  0.859375
salary                     0.055556  0.390625
shared_receipt_with_poi    0.222222  0.437500
to_messages                0.222222  0.437500
total_payments             0.000000  0.164062
total_stock_value          0.000000  0.156250

In [44]:
poi_nan_df.assign(poi_nan = non_poi_nan_df)

                                poi   poi_nan
bonus                      0.111111  0.484375
deferral_payments          0.722222  0.734375
deferred_income            0.388889  0.703125
director_fees              1.000000  0.867188
email_address              0.000000  0.273438
exercised_stock_options    0.333333  0.296875
expenses                   0.000000  0.398438
from_messages              0.222222  0.437500
from_poi_to_this_person    0.222222  0.437500
from_this_person_to_poi    0.222222  0.437500
loan_advances              0.944444  0.976562
long_term_incentive        0.333333  0.578125
other                      0.000000  0.414062
poi                        0.000000  0.000000
restricted_stock           0.055556  0.273438
restricted_stock_deferred  1.000000  0.859375
salary                     0.055556  0.390625
shared_receipt_with_poi    0.222222  0.437500
to_messages                0.222222  0.437500
total_payments             0.000000  0.164062
total_stock_value          0.000000  0.156250

#### Check 0 value in features

Before coverting **NaN** to 0, I have to check the converting would effect each variables or the whole dataset.

#### 0 in poi

In [ ]:
r_poi = np.sum(fp_df['poi'])/float(len(fp_df))
print 'POI rate: ', np.round(r_poi, 2)

from tqdm import tqdm

def nan_count(data):
    c = 0
    
    for i in data:
        if i == 0:
            c += 1
            
    return c

feature_nan_count = fp_df[fp_df['poi'] == True].apply(nan_count)
feature_nan_count/len(fp_df[fp_df['poi'] == True])

#### 0 in non-poi

In [ ]:
r_poi = (len(fp_df) - np.sum(fp_df['poi']))/float(len(fp_df))
print 'POI rate: ', r_poi

from tqdm import tqdm

def nan_count(data):
    c = 0
    
    for i in data:
        if i == 0:
            c += 1
            
    return c

feature_nan_count = fp_df[fp_df['poi'] != True].apply(nan_count)
feature_nan_count/len(fp_df[fp_df['poi'] != True])

fp_df[fp_df['poi'] == True]

fp_df[fp_df['poi'] != True]

Convert np.nan value to 0

In [ ]:
fp_df = fp_df.applymap(lambda x: np.nan if x == 'NaN' else x)
#fp_df.head()

In [ ]:
fp_df.fillna(0, inplace=True)
fp_df.isnull().values.any()
fp_df.head()

In [ ]:
features = fp_df.keys()
features = features.drop('email_address')
values = fp_df.values

#values
#features

### Remove Outlier

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

fig, ax = plt.subplots(4, 5, figsize = (15, 10))

for i in xrange(4):
    for j in xrange(5):
        ax[i, j].hist(fp_df[features[i*5+j]])
        #ax[i, j].plot(x, y_25th, x, y_75th)
        ax[i, j].set_title(features[i*5+j])

In [ ]:
fig, ax = plt.subplots(4, 5, figsize = (15, 20))

for i in xrange(4):
    for j in xrange(5):
    
        x = np.linspace(0, 2, len(fp_df[features[i*5+j]]))
        ax[i, j].scatter(x, fp_df[features[i*5+j]], s = 3)

In [ ]:
fig, ax = plt.subplots(4, 5, figsize = (15, 20))

for i in xrange(4):
    for j in xrange(5):
        
        #print i*5+j
        #print features[i*5+j]

        per_25th = np.percentile(fp_df[features[i*5+j]], 25)
        per_75th = np.percentile(fp_df[features[i*5+j]], 75)

        x = np.linspace(0, 2, 100)
        y_25th = np.ones(100) * per_25th
        y_75th = np.ones(100) * per_75th
        
        ax[i, j].boxplot(fp_df[features[i*5+j]])
        ax[i, j].plot(x, y_25th, x, y_75th)
        ax[i, j].set_title(features[i*5+j])

In [ ]:
features

In [ ]:
values = fp_df['director_fees'].values
#u = np.percentile(values, 25)
d = np.percentile(values, 95)

x = np.linspace(0, 2, len(values))

#print u, d
print d
#plt.scatter(x, values, s = 3)

values = values[values < d]
x = np.linspace(0, 2, len(values))
plt.scatter(x, values, s = 3)

In [ ]:
fig, ax = plt.subplots(4, 5, figsize = (15, 20))

for i in xrange(4):
    for j in xrange(5):
        per_25th = np.percentile(fp_df[features[i*5+j]], 25)
        per_75th = np.percentile(fp_df[features[i*5+j]], 75)
        
        values = fp_df['bonus'].values
        values = values[values > per_25th]
        values = values[values < per_75th]
        '''
        x = np.linspace(0, 2, 100)
        y_25th = np.ones(100) * per_25th
        y_75th = np.ones(100) * per_75th
        '''
        #ax[i, j].boxplot(values)
        ax[i, j].hist(values)
        #ax[i, j].plot(x, y_25th, x, y_75th)
        #ax[i, j].set_title(features[i*5+j])

per_25th = np.percentile(fp_df['bonus'], 25)
per_75th = np.percentile(fp_df['bonus'], 75)

x = np.linspace(0, 2, 100)
y_25th = np.ones(100) * per_25th
y_75th = np.ones(100) * per_75th

import matplotlib.pyplot as plt
%matplotlib inline

plt.boxplot(fp_df['bonus'])
plt.plot(x, y_25th, x, y_75th)

fp_df['bonus'].quantile(0.5)

print np.max(fp_df['bonus'])
test = fp_df[fp_df['bonus'] < fp_df['bonus'].quantile(0.7)]

plt.boxplot(test['bonus'])

# Scaling

In [ ]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

sclr = MinMaxScaler(feature_range=(0, 1))

Scaling to have range from 0 to 1, expect email_address variable

In [ ]:
scaled_value = sclr.fit_transform(fp_df[features.drop('email_address')])
#rescaled_value = sclr.fit_transform(fp_df[features.drop('email_address')])

In [ ]:
scaled_value

# References

http://scikit-learn.org/stable/auto_examples/classification/plot_classifier_comparison.html